In [1]:
import pandas as pd

In [3]:
#using list
ls=[1,2,4,5,6,7]
df=pd.DataFrame(ls)
df

   0
0  1
1  2
2  4
3  5
4  6
5  7

In [4]:
#using list of list
ls1=[[1,4,5,6,7,8,9,],[0,1,2,4,5,6,7]]
df=pd.DataFrame(ls1)
df

   0  1  2  3  4  5  6
0  1  4  5  6  7  8  9
1  0  1  2  4  5  6  7

In [7]:
ls=[["chirayu",21],["pico",3],["chiko",5]]
df=pd.DataFrame(ls,columns=["NAME","AGE"])
df

      NAME  AGE
0  chirayu   21
1     pico    3
2    chiko    5